body {
    background-color: $prime;
}
header {
    width: 100%;
    height: 100vh;
}

.susu1 {
    width: 100%;
    height: 120rem;
    @media (max-width: 1000px) {
        height: 80rem;
    }
    @include rp('mob') {
        height: 130rem;
    }
}
.susu2 {
    width: 100%;
    height: 120rem;
    @media (max-width: 1000px) {
        height: 80rem;
    }
    @include rp('mob') {height: 130rem;}
    
}

.house {
    width: 100%;
    height: 120rem;
    @media (max-width: 1200px) {
        height: 80rem;
    }
}

.place {
    width: 100%;
    height: 80vw;
    @media (max-width: 1200px) {
        height: 80rem;
    }
    @media (min-width: 1600px) {
        height: 60vw;
    }
}

footer {
    width: 100%;
    height: 50rem;
}