.nav {
    background-color: grey;
    &-checkbox {
		display: none;
	}
	&-button {
		background-color: $prime;
		width: 7rem;
		height: 6rem;
		position: fixed;
		z-index: 2000;
		top: 7rem;
		right: 8rem;
		cursor: pointer;
		border-radius: 2px;
		box-shadow: 0 1rem 1rem rgba(#000, 0.1);
		text-align: center;
	}
    &-bg {
		// background-image: radial-gradient($color-primary, $color-secondary);
		position: fixed;
		z-index: 1000;
		width: 7rem;
		height: 6rem;
		top: 7rem;
		right: 8rem;
		border: 2px;
		transition: all 0.8s;
	}
    &-checkbox:checked ~ &-bg {
		transform: scale(80);
	}

	&-icon {
		position: relative;
		margin-top: 3rem;

		&,
		&:before,
		&::after {
			width: 3rem;
			height: 2px;
			background-color: #333;
			display: inline-block;
		}
		&:before,
		&::after {
			content: '';
			position: absolute;
			transition: all 0.2s;
			left: 0;
		}
		&:before {
			top: -0.8rem;
		}
		&::after {
			top: 0.8rem;
		}
	} //.&-icon
    &-button:hover &-icon:before{
        top:-1rem;
    }
    &-button:hover &-icon:after{
        top:1rem;
    }
    &-checkbox:checked~&-button &-icon{
        background-color: transparent;
    }
    &-checkbox:checked~&-button &-icon:before{
        top:0;
        transform: rotate(135deg);
    }
    &-checkbox:checked~&-button &-icon:after{
        top:0;
        transform: rotate(-135deg);
    }
    &-body{
        position: fixed;
        top:0;
        left:-120%;	
        opacity: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1500;	
        transition: 0.8s;
        background-color: $second;
    }
    &-list {	
        position: absolute;	
        left: 50%;	
        top: 50%;	
        transform: translate(-50%, -50%);	
        // display: none;	
        width: 100%;	
        text-align: center;
    }
    &-link {		
        display: inline-block;		
        font-size: 3rem;		
        font-weight: 500;		
        padding: 1rem 3rem;		
        text-decoration: none;		
        transition: all 0.4s;
		background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $prime 50%);
        background-size: 230%;
        color: white;
		&:hover {
			color: $second;
			background-position: 100%;
			transform: translateX(1rem);
		}
	}
	&-checkbox:checked ~ &-body {
		opacity: 1;
		left: 0;
	}
}

/* ====================================
    ======= header ======    
==================================== */
header {
    background-image: url(../source/main.jpg);
    background-size: cover;
    background-position: center center;
    .logo-text {
        position: absolute;
        left: 7rem;
        top: 4rem; 
        font-size: 5.6rem;
        font-weight: 100;
        color: white;
        letter-spacing: -0.1rem;
    }
    .header-text {
        position: absolute;
        left: 7rem;
        bottom: 23%;
        color: white;
        
        font-weight: 700;
        &-main {
            font-size: 7.2rem;
            line-height: 7.2rem;
        }
        &-sub {
            margin-top: 3rem;
            font-size: 2.4rem;
        }
    }
}

/* ====================================
    ======= susu ======    
==================================== */
.susu1 {
    padding-top: $row * 4;
    .visual {
        width: 40vw;
        height: 40vw;
        overflow: hidden; 
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (min-width: 1000px) {
                width: 100%;
                height: 70%;
            }
        }
    }
    .text {
        padding-left: 15%;
        color: $second;
        font-size: 2rem;
        &-up, &-down {
            padding-left: 3rem;
        }
        &-up {padding-bottom : $row;}
        &-down {padding-bottom : $row * 4;}
        h6 {
            flex-direction: column;
            margin-bottom: $row * 4;
        }
        
        a {
            display: block;
            padding-left: 3rem;
        }
    }
    .text:before, .text:after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $second;
    }
    .text:before {margin-bottom: 2rem;}
    .text:after {margin-top: 2rem;}
}

/* ====================================
    ======= susu2 ======    
==================================== */
.susu2 {
    padding-top: $row * 4;
    .df {
        width: 100%;
        height: 100%;
    }
    .visual {
        width: 70vw;
        height: 70vw;
        overflow: hidden;
        gap: 3rem;
        position: relative;
        @media (min-width: 1000px) {
            width: 50%;
            height: 60rem;
        }
        img:first-child {
            position: relative;
            width: 60%;
            height: 100%;
            object-fit: cover;
        }
        img:last-child {
            position: relative;
            width: 40%;
            height: 60%;
            object-fit: cover;
        }
    }
    .text {
        padding-right: 15%;
        color: $second;
        font-size: 2rem;
        text-align: right;
        width: 50vw;
        height: 10rem;
        position: relative;
        @media (min-width: 1000px) {
            width: 60vw;
        }
        &-up {padding-right: 3rem;}
        &-up {padding-bottom : $row;}
        h6 {
            flex-direction: column;
        }
        .box {padding: 2rem 0;}
        
        a {
            display: block;
            padding-right: 3rem;
        }
    }
    .text:before, .text:after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $second;
    }
    .text:before {margin-bottom: 2rem;}
    .text:after {margin-top: 2rem;}
}

/* ====================================
    ======= house ======    
==================================== */
.house {
    position: relative;
    .second {
        width: 20vw;
        height: 20vw;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        
        justify-content:space-around;
        .text {
            writing-mode: vertical-lr;
            font-size: 2rem;
            color: $second;
            text-align: center;
        }
        .line {
            position: relative;
            width: 1px;
            height: 4rem;
            background-color: $second;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .home {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 40vw;
        height: 40vw;
        .mask {
            position: absolute;
            width: 20vw;
            height: 20vw;
            overflow: hidden;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.5s;
        }
        img {
            position: absolute;
            width: 40vw;
            height: 40vw;
            object-fit: cover;
            transition: all 0.5s;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .mask:hover  {
            width: 38vw;
            height: 38vw;
        }
    }
}

/* ====================================
    ======= place ======    
==================================== */
.place {
    padding-top: $row * 6;
    transition: all 0.5s;
    @include mq('lg') {height: 80rem;}
    h5 {
        color: $second;
        text-align: center;
        margin-bottom: $row * 2;
    }
    .container {
        flex-wrap: wrap;
        height: 32vw;
        overflow: hidden;
        justify-content: space-between;
        transition: all 0.5s;
        @include rp('mob') {height: 60vw;}
    }
    .container.toggle {
        height: 100vw;
        @include rp('mob') {
            height: 200rem;
        }
    }
    .box {
        width: 32vw;
        height: 32vw;
        overflow: hidden;
        position: relative;
        margin-bottom: 2rem;
        @include rp('mob') {
            width: 47vw;
            height: 60vw;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s;
            filter: brightness(0.5);
        }
        img:hover {
            transform: scale(1.2);
            filter: brightness(1);
        }
        p {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            letter-spacing: 1rem;
            z-index: 999;
            writing-mode: vertical-lr;
        }
    }
    .toggle {
        position: relative;
        text-align: center;
        margin-top: $row * 2;
        &-btn {
            position: absolute;
            width: 10rem;
            padding: 1rem 0;
            cursor: pointer;
            left: 50%;
            transform: translateX(-50%);
        }
        .line {
            position: absolute;
            width: 10rem;
            height: 1px;
            background-color: $second;
            left: 50%;
            transform: translateX(-50%);
        }
        .line:last-child {top: 3.5rem;}
    }
}
.place.toggle {
    height: 150vw;
    @include rp('mob') {height: 250rem;}
}